<!doctype html>
<html class="no-js" lang="pt-br">
	<%= render 'layouts/includes/head_devise' %>

	<body class="devise__body">
		

		<section class="container">
			<h1 class="devise__logo"><%= image_tag('logo.png') %></h1>

			<div class="devise__content">
				<h2 class="devise__title">Reenviar instruções de confirmação</h2>

				<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="devise__field">
				  	<%= f.label :email, 'E-mail' %>
				  	<%= f.email_field :email, autofocus: true, required: true %>
				  </div>

				  <div class="devise__submit">
				  	<%= f.submit 'Reenviar', class: 'devise__btn' %>
				  </div>
				<% end %>
			</div>

			<div class="devise__links">
				<%= render 'devise/shared/links' %>
			</div>
		</section>
	</body>
</html>
