<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'logo.png' %>
    <title>Rf-Consultoria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
  </head>

<style>
body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.container-centralizada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .container-centralizada {
    width: 100%;
    padding: 0;
    gap: 0;
  }
}

.img-responsive {
  width: 100%;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.img-lines-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  right: -100px;
  top: -150px;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  max-width: 560px; 
  border-radius: 10px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space between;
  align-items: center;
}

.img-footer {
  width: 155px;
}

.box {
  width: 100%;
}

.list {
  padding: 24px;
  display: flex;
  justify-content: left;
  margin: 250px 0;
}

.list ul {
  position: relative;
  padding: 24px 24px 24px 50px;
}

.list ul img {
  width: 100%;
}

.list.list-2 {
  justify-content: right !important;
}

.img-border {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.img-lines {
  width: 287% !important;
  top: -194px;
  position: absolute;
  left: 288px;
}

.img-lines.il-2 {
  width: 210% !important;
  left: auto;
  right: 390px !important;
  bottom: -72px;
  top: auto;
}

.box-elipse {
  width: 106px;
  height: 106px;
  border: 1px solid red;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: absolute;
  right: -316px;
  top: 16px;
}

.box-elipse.be-2 {
  right: 594px !important;
}

.elipse1 {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.elipse2 {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.elipse2 {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.elipse3 {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  padding: 12px;
}

.retangle {
  width: 250px;
  position: absolute;
  border: 1px solid red;
  right: -234px;
  top: 69px;
}

.retangle.ret2 {
  right: 362px !important;
}

.retangle.ret2 .point-elipse {
  left: 238px !important;
}

.point-elipse {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: red;
  top: -6px;
  left: -11px;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    font-size: 15px;
  }

  .img-lines- vi {
    width: 194%;
    right: -108px;
    top: -13px;
  }

  .img-lines {
    left: -285px !important;
    z-index: -1;
  }

  .container {
    overflow-x: hidden;
  }

  .point-elipse {
    top: 47px;
    left: -7px;
  }

  .retangle {
    height: 50px;
    border-bottom: none;
    border-right: none;
    border-top: 2px solid red;
    border-left: 2px solid red;
    right: -4px;
    top: -45px;
  }

  .retangle.ret2 {
    border-bottom: none;
    border-right: 2px solid red;
    border-top: 2px solid red;
    border-left: none;
    right: 27px !important;
  }

  .box-elipse {
    right: -41px !important;
    top: -98px !important;
  }

  .retangle.ret2 .point-elipse {
    left: 243px !important;
  }

  .box-elipse.be-2 {
    right: 217px !important;
  }
}

.header-i {
  max-width: 364px;
}

.image-container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.3);
  border-radius: 3%;
}

.image-container {
  text-align: center;
}

.h-description {
  text-align: left;
}

.larger-image {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.about-cont {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  align-items: flex-start;
}
.about-title{
  color: red;
  font-size: 26px; 
  text-align: left;
  font-style: italic;
  font-weight: bold;
}
.about-text {
  text-align: justify;
  margin-left: 20px;
}

@media (max-width: 767px) {
  .about-cont {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    gap: 32px;
  }
  .about-title {
      font-size: 17px;
   }
  .about-text {
    margin-left: 0;
    font-size: 15px;
    text-
  }
}

.ab {
  margin: 60px;
}

.menu {
  background-color: #333;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline;
  margin: 0 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav {
  background: black !important;
}
.navbar-nav .nav-link:hover {
    color: red !important;
}

.name-footer {
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  margin: 8px;
}

.name-footer:hover {
  color: red;
}
.botao-consultoria { 
    border: 2px solid red;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform 0.4s, box-shadow 0.4s; 
    cursor: pointer;
    border-radius: 87px;
    text-decoration: none;  
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);  
    display: inline-block;
}

.botao-consultoria:hover {
    color: red;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.8); 
}
.video-title{
  color: red;
  font-style: italic;
}

.img-treino{
    width: 212px;
}
 .custom-text {
   margin-top: 20px; 
}
.text-treino{
  color: red; 
}

.card {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Vermelho padrão com 50% de opacidade */
    transition: background-color 0.3s;
    z-index: 1;
}

.card:hover::before {
    background-color: rgba(0, 0, 0, 0.2); /* Vermelho com 20% de opacidade ao passar o mouse */
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    width: 300px;
}
.card-title{ 
  font-weight: bold;
  color: white;
}
</style>

<body>

  <%= yield %> 
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>